<section class="container dark gap-4">
  <h2>Як це <span>працює</span></h2>

  <div class="flex flex-col gap-3">
    <div class="two-cols">
      <figure class="p-2 flex-center flex-col">
        <img
          class="step-img"
          src=".\assets\img\how-it-works\0.jpg"
          alt="Залишаєте заявку"
        />
        <figcaption>
          <b>Ви залишаєте заявку – ми зв’язуємось та консультуємо</b>
        </figcaption>
      </figure>
    </div>

    <img src=".\assets\img\how-it-works\arr-down.svg" alt="arrow down" />

    <div class="two-cols">
      <figure class="p-2 flex-center flex-col">
        <img
          class="step-img"
          src=".\assets\img\how-it-works\3.jpg"
          alt="Вибір моделі"
        />
        <figcaption>
          <b> Вибираєте модель будинку та додаткові опції</b>
        </figcaption>
      </figure>
    </div>

    <img src=".\assets\img\how-it-works\arr-down.svg" alt="arrow down" />

    <div class="two-cols">
      <figure class="p-2 flex-center flex-col">
        <img
          class="step-img"
          src=".\assets\img\how-it-works\2.jpg"
          alt="Доставка та встановлення"
        />
        <figcaption><b>Доставка та встановлення за 3-5 днів</b></figcaption>
      </figure>
    </div>

    <img src=".\assets\img\how-it-works\arr-down.svg" alt="arrow down" />

    <div class="two-cols">
      <figure class="p-2 flex-center flex-col">
        <img
          class="step-img"
          src=".\assets\img\how-it-works\1.jpg"
          alt="Готовий будинок"
        />
        <figcaption>
          <b>Будинок готовий до використання та прибутку!</b>
        </figcaption>
      </figure>
    </div>
  </div>
  <img src=".\assets\img\how-it-works\arr-down.svg" alt="arrow down" />

  <div class="two-cols">
    <figure class="p-2 flex-center flex-col">
      <figcaption>
        <b>Більше фото!</b>
      </figcaption>

      <app-swiper [slides]="slides" />
    </figure>
  </div>

  <app-call-to-action
  class="mt-10"
    link="#contact-form"
    title="Дізнатися більше"
    text="про встановлення модульних будинків"
  />
</section>
