<section class="py-12 bg-gray-100-">
  <div class="container mx-auto max-w-6xl text-center">
    <h2 class="text-3xl font-bold mb-8">Це може вас зацікавити</h2>
    <div class="grid md:grid-cols-3 gap-8 justify-center">

      <div class="card">
        <div class="header">
          <div class="image bg-blue-100">
            <span class="tag">Запуск</span>
            <img src="./assets/img/steps/capex.jpg" alt="Економія CAPEX">
          </div>
          <div class="date">
            <span>06.09.2025</span>
          </div>
        </div>
        <div class="info">
          <a routerLink="/module-house-launch" class="block">
            <span class="title">Модульний Дім: Від Виробництва до Запуску</span>
          </a>
          <p class="description">Деталі виготовлення, монтажу та експлуатації модульних будинків для швидкого запуску оренди.</p>
        </div>
      </div>

      <div class="card">
        <div class="header">
          <div class="image bg-yellow-100">
            <span class="tag">Комфорт</span>
          </div>
          <div class="date">
            <span>19.09.2025</span>
          </div>
        </div>
        <div class="info">
          <a routerLink="/comfort" class="block">
            <span class="title">Комфорт, Довговічність та Якість Життя</span>
          </a>
          <p class="description">Як PIR-панелі, енергоефективне опалення та вентиляція забезпечують цілорічний комфорт для гостей.</p>
        </div>
      </div>

      <div class="card">
        <div class="header">
          <div class="image bg-green-100">
            <span class="tag">Юридичні</span>
          </div>
          <div class="date">
            <span>21.09.2025</span>
          </div>
        </div>
        <div class="info">
          <a routerLink="/legal-requirements" class="block">
            <span class="title">Юридичні та Організаційні Вимоги</span>
          </a>
          <p class="description">Отримання дозволів, реєстрація бізнесу, податки та адміністративні обов’язки власників кемпінгів у Чехії.</p>
        </div>
      </div>

    </div>
  </div>
</section>
