:root {
  // Colors
  --primary-color: #255F38;
  --primary-hover: rgba(--primary-color, 0.65);

  --secondary-color: #27391C;
  --secondary-hover: rgba(--secondary-color, 0.65);

  --accent-color: #D98324;
  --accent-hover: #D98324;

  --bg-color: #18230F;
  --text-color-headings: #242424;
  --text-color-headings-light: #fff;
  --text-color: #242424;

  --swiper-theme-color: var(--accent-color);
  --swiper-navigation-color: var(--accent-color);

  // TypographyX
  --font-family-headings: "Jura", sans-serif;
  --font-family-base: "Montserrat", sans-serif;

  // Focus and shadows
  --box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  --focus-shadow-color: rgba(--primary-color, 0.25);

  // Media queries
  --media-desktop: 1280px;
  --media-laptop: 1025px;
  --media-netbook: 960px;
  --media-tablet: 832px;
  --media-tablet-small: 672px;
  --media-mobile: 480px;
  --media-mobile-small: 336px;
}

$media-desktop: 1280px;
$media-laptop: 1025px;
$media-netbook: 960px;
$media-tablet: 832px;
$media-tablet-small: 672px;
$media-mobile: 480px;
$media-mobile-small: 336px;
