<section class="p-6 bg-white shadow-md max-w-4xl mx-auto">
  <h2 class="text-3xl font-bold text-gray-800 mb-6">
    Модульний Дім: Від Виробництва до Запуску
  </h2>

  <p class="text-gray-700 mb-6 leading-relaxed">
    Виготовлення та встановлення модульного будинку — це швидкий та ефективний
    процес, який дозволяє власникам кемпінгів та приватних об'єктів швидко
    запускати житлові модулі з мінімальними витратами часу та ресурсів.
  </p>

  <div class="two-cols flex w-full items-center">
    <figure class="flex">
      <figcaption class="flex flex-col gap-2">
        <app-swiper [slides]="slides" [isVideo]="true" />
      </figcaption>
    </figure>
  </div>

  <h3 class="text-2xl font-semibold text-gray-800 mb-4">
    Виготовлення та Встановлення
  </h3>
  <p class="text-gray-700 mb-4 leading-relaxed">
    Виготовлення модуля займає короткий час, а його встановлення на ділянці,
    якщо комунікації підготовлені заздалегідь (згідно з інструкцією виробника,
    що включає діаметри труб, розташування та кабель обігріву комунікацій для
    зими), займає до <strong>4 годин</strong>. Встановлення самого будинку
    краном або пікапом триває <strong>1–4 години</strong>, залежно від
    складності ділянки.
  </p>

  <h3 class="text-2xl font-semibold text-gray-800 mb-4">Додаткові витрати</h3>
  <ul class="list-disc list-inside text-gray-700 mb-4 space-y-2">
    <li>
      <strong>Транспортні витрати:</strong> доставка залежить від локації та
      може становити від €1,000 до €2,000 (25,000–50,000 CZK).
    </li>
    <li>
      <strong>Кран:</strong> оренда крана (якщо потрібен) залежить від
      складності ділянки та може коливатися від 3,000 до 20,000 CZK.
    </li>
    <li>
      <strong>Обслуговування:</strong> гарантійне та сервісне обслуговування від
      виробника. Час на управління (відповіді на запитання гостей, бухгалтерія)
      складає близько <strong>5–10 годин на місяць</strong>, оскільки більшість
      процесів автоматизовані (Smart-lock для заселення, автоматичні
      повідомлення).
    </li>
  </ul>

  <p class="text-gray-700 leading-relaxed">
    Завдяки такому підходу, власники отримують швидке, економічне та комфортне
    рішення для розширення пропозиції житла, що підвищує прибутковість та
    зручність управління об'єктом.
  </p>
</section>

<div class="flex flex-col p-4 gap-4">
  <a class="button-primary" routerLink="/legal-requirements"
    >Запитати менеджера</a
  >

  <a class="button-primary" routerLink="/comfort">comfort</a>
</div>
