<section>
  <div class="hero dark">
    <video
      class="background-video loaded"
      [muted]="true"
      autoplay
      loop
      playsinline
      webkit-playsinline
      disableRemotePlayback
      preload="auto"
      [attr.poster]="videoLoaded ? './assets/img/01.jpg' : ''"
      (loadeddata)="onVideoLoaded()"
    >
      <source src="./assets/videos/hiro.mp4" type="video/mp4" />
    </video>

    <div class="container flex flex-col gap-20" style="margin-top: 0">
      <div class="hero-header grid grid-cols-3">
        <div class="flex flex-col items-center justify-center gap-2">
          <span>Встановлення</span>
          <p>3-5 днів</p>
        </div>
        <div class="bordered flex flex-col items-center justify-center gap-2">
          <span>Окупається</span>
          <p>2-3 роки</p>
        </div>
        <div class="flex flex-col items-center justify-center gap-2">
          <span>Прибуток</span>
          <p>від 80$ в день</p>
        </div>
      </div>

      <div class="hero-title flex flex-col">
        <h1>
          Крихітні будинки <br />
          з величезною <br />
          дохідністю.
        </h1>
        <app-marquee [messages]="messages" />
      </div>

      <app-call-to-action
        link="#contact-form"
        title="Дізнатися вартість"
        text="та розрахувати свій прибуток"
      />
    </div>
  </div>
</section>
