<section>
  <div class="hero dark">
    <div
      class="relative z-10 text-white flex items-center justify-end px-5 py-3"
    >
      <div class="rounded-lg flex items-center gap-1">
        <app-language-switcher></app-language-switcher>
      </div>
    </div>
    <video
      class="background-video loaded"
      [muted]="true"
      autoplay
      loop
      playsinline
      webkit-playsinline
      disableRemotePlayback
      preload="auto"
      [attr.poster]="videoLoaded ? '' : './assets/img/01.jpg'"
      (loadeddata)="onVideoLoaded()"
    >
      <source src="./assets/videos/hiro.mp4" type="video/mp4" />
    </video>

    <div class="container flex flex-col gap-20" style="margin-top: 0">
      <div class="hero-header grid grid-cols-3">
        <div class="flex flex-col items-center justify-center gap-2">
          <span>{{ "HOME.HERO.STATS.SETUP" | translate }}</span>
          <p>{{ "HOME.HERO.STATS.DAYS" | translate }}</p>
        </div>
        <div class="bordered flex flex-col items-center justify-center gap-2">
          <span>{{ "HOME.HERO.STATS.PAYS_OFF" | translate }}</span>
          <p>{{ "HOME.HERO.STATS.YEARS" | translate }}</p>
        </div>
        <div class="flex flex-col items-center justify-center gap-2">
          <span>{{ "HOME.HERO.STATS.PROFIT" | translate }}</span>
          <p>{{ "HOME.HERO.STATS.PROFIT_AMOUNT" | translate }}</p>
        </div>
      </div>

      <div class="hero-title flex flex-col mb-12">
        <h1 class="text-center">
          {{ "HOME.HERO.TITLE.S" | translate }} <br />
          {{ "HOME.HERO.TITLE.Z" | translate }} <br />
          {{ "HOME.HERO.TITLE.D" | translate }}
        </h1>
        <!-- <p>Tiny house DOMIVKA je hotový dům, připravený k okamžitému použití, bez nutnosti stavebního povolení a s menšími náklady na provoz i údržbu.</p> -->
        <!-- <app-marquee /> -->
      </div>

      <app-call-to-action
        link="#contact-form"
        [title]="'HOME.HERO.CTA.TITLE' | translate"
        [text]="'HOME.HERO.CTA.TEXT' | translate"
      />
    </div>
  </div>
</section>
