.hero {
  width: 100%;
  height: 100vh;
  min-height: 720px;
  max-height: 880px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6); /* затемнення */
    z-index: 1;
  }

  .container {
    z-index: 2;
    position: relative;
    height: 100%;

    max-width: 600px;

    p {
      font-size: 18px;
    }
  }

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.loaded {
      opacity: 1;
    }
  }

  .hero-header {
    margin-top: 60px;

    span {
      color: #CDDFFD;
      opacity: .7;
      font-size: 14px;
    }

    p {
      color: #CDDFFD;
      font-weight: bold;
      font-size: 16px;

      &span {
        color: #CDDFFD;
        opacity: .7;
        font-size: 14px;
      }
    }

    .bordered {
      border-width: 0 2px;
      border-style: solid;
      border-color: #BCD2F270;
    }
  }

  .hero-title {
    position: relative;

    p {
      color: #fff;
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      line-height: 20px;
      letter-spacing: -1px;
    }

    h1 {
      color: #fff;
      font-size: 56px;
      font-weight: bold;
      line-height: 80px;
      text-transform: uppercase;
    }

    .with-bg {
      font-family: "Montserrat", sans-serif;
      width: max-content;
      padding: 1px 8px;
      background-color: #fff;
      color: #488AD2;
      font-weight: bold;
      display: block;
      border-radius: 8px;
    }

    .hero_decoration {
      position: absolute;
      left: 36px;
      top: 130px;
      width: 40px;
    }
  }

  .cta_box {
    width: max-content;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: var(--box-shadow);

    p {
      color: #fff;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      line-height: 20px;
      letter-spacing: -1px;
      text-align: center;
    }
  }

  .hero_decoration_palm {
    position: absolute;
    bottom: -20px;
    width: 180px;
    left: -50px;
    z-index: 30;
  }

  .hero_decoration_palm_2 {
    position: absolute;
    bottom: -20px;
    width: 180px;
    right: -50px;
    z-index: 30;
  }

  .sand_gradient{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}
