<section class="faq-section container content_ my-10">
  <h2>Часті <span>запитання</span></h2>

  <div class="faq-list">
    <div
      class="faq-item"
      *ngFor="let faq of faqs; let i = index"
      (click)="toggleFAQ(i)"
      [class.open]="faq.open"
    >
      <div class="faq-question">
        <span>{{ faq.question }}</span>
        <span class="arrow" [class.rotate]="faq.open">▼</span>
      </div>
      <div class="faq-answer" *ngIf="faq.open">
        <p>{{ faq.answer }}</p>
      </div>
    </div>
  </div>

  <app-call-to-action
    link="#contact-form"
    title="Проконсультуватись"
    text="Залишились запитання? Ми проконсультуємо."
  />
</section>
