<section class="faq-section container content_ my-10">
  <h2>
    {{ "HOME.FAQ.TITLE_1" | translate }}
    <span>{{ "HOME.FAQ.TITLE_2" | translate }}</span>
  </h2>

  <!-- <div class="faq-list">
    <div
      class="faq-item"
      *ngFor="let faq of faqs; let i = index"
      (click)="toggleFAQ(i)"
      [class.open]="faq.open"
    >
      <div class="faq-question">
        <span>{{ faq.question | translate }}</span>
        <span class="arrow" [class.rotate]="faq.open">▼</span>
      </div>
      <div class="faq-answer" *ngIf="faq.open">
        <p>{{ faq.answer | translate }}</p>
      </div>
    </div>
  </div> -->

  <div class="faq-list">
    <div
      class="faq-item"
      *ngFor="let faq of faqs | slice : 0 : visibleCount; let i = index"
      (click)="toggleFAQ(i)"
      [class.open]="faq.open"
    >
      <div class="faq-question">
        <span>{{ faq.question }}</span>
        <span class="arrow" [class.rotate]="faq.open">▼</span>
      </div>
      <div class="faq-answer" *ngIf="faq.open">
        <p>{{ faq.answer }}</p>
      </div>
    </div>
  </div>

  <div class="flex flex-col  justify-center mt-4">
    <button *ngIf="visibleCount < faqs.length" (click)="showMore()">
      Načíst více
    </button>

    <button *ngIf="visibleCount > 5" (click)="showLess()">Skrýt</button>
  </div>

  <div class="cta_box flex flex-col mt-10">
    <app-call-to-action
      link="#contact-form"
      [title]="'HOME.FAQ.CTA_TITLE' | translate"
    />

    <div class="divider">
      <span>{{ "HOME.FAQ.CTA_DIVIDER" | translate }}</span>
    </div>

    <app-call-to-action
      link="https://wa.me/1234567890"
      [title]="'HOME.FAQ.CTA_2_TITLE' | translate"
      [text]="'HOME.FAQ.CTA_2_TEXT' | translate"
    />
  </div>
</section>
