<!-- <header>
  <div class="container dark flex-center">
    <!-- <a class="link-button" href="">{{'BUTTONS.BUY_NOW' | translate}} </a>

    <nav>
      <ul class="flex flex-row gap-8">
        <li>
          <a
            (click)="navigateOrScroll('/home')"
            class="link-button"
            routerLink="/home"
            routerLinkActive="active"
            >home</a
          >
        </li>
        <li>
          <a
            (click)="navigateOrScroll('/shop')"
            class="link-button"
            routerLink="/shop"
            routerLinkActive="active"
            >shop</a
          >
        </li>
        <li>
          <a
            (click)="navigateOrScroll('/about-me')"
            class="link-button"
            routerLink="/about-me"
            routerLinkActive="active"
            >about</a
          >
        </li>
      </ul>
    </nav>
    <!-- <app-language-switcher />
  </div>
</header> -->
