@use 'variables'as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--text-color-headings);
  font-family: var(--font-family-headings);

  span {
    font-family: var(--font-family-headings);
    font-weight: 600;
    color: var(--accent-color);
  }

  .dark & {
    color: var(--text-color-headings-light);
  }
}

p{
  b{
    color: var(--accent-color);
  }
}

p {
  font-weight: normal;

  span,
  strong, li {
    color: var(--accent-color);
  }

  .dark & {
    color: var(--text-color-headings-light);
  }
}

li, b{
  .dark & {
    color: var(--text-color-headings-light);
  }
}

h1 {
  font-size: 72px;

  @media (max-width: $media-netbook) {
    display: inline;
    font-size: 42px;
  }
}

h2 {
  margin-top: 24px;
  font-size: 58px;
  text-align: left;
  padding-bottom: 40px;

  // text-decoration: underline;

  text-shadow: var(--box-shadow) !important;
  color: #fff;
  font-weight: bold;

  font-family: var(--font-family-headings) !important;


  @media (max-width: $media-tablet) {
    display: inline-block;
    text-align: center;
    font-size: 32px !important;
    font-weight: bold !important;

    padding-bottom: 20px;
    text-align: center;
    width: 100%;

  }
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
}

// @import url('https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
