<section class="trust-section container content dark">
  <h2>
    {{ "HOME.TRUST.TITLE" | translate }}
    <span>{{ "HOME.TRUST.TITLE_HIGHLIGHT" | translate }}</span>
  </h2>

  <ul class="trust-list">
    <li>
      <img
        src="./assets/icons/license.svg"
        [alt]="'HOME.TRUST.LICENSE_ALT' | translate"
      />
      <p>
        {{ "HOME.TRUST.LICENSE_TEXT_1" | translate }}
        <strong>{{ "HOME.TRUST.LICENSE_TEXT_2" | translate }}</strong>
        {{ "HOME.TRUST.LICENSE_TEXT_3" | translate }}
      </p>
    </li>
    <li>
      <img
        src="./assets/icons/guarantee.svg"
        [alt]="'HOME.TRUST.GUARANTEE_ALT' | translate"
      />
      <p>
        {{ "HOME.TRUST.GUARANTEE_TEXT_1" | translate }}
        <strong>{{ "HOME.TRUST.GUARANTEE_TEXT_2" | translate }}</strong>
        {{ "HOME.TRUST.GUARANTEE_TEXT_3" | translate }}
      </p>
    </li>
    <li>
      <img
        src="./assets/icons/experience.svg"
        [alt]="'HOME.TRUST.EXPERIENCE_ALT' | translate"
      />
      <p>
        {{ "HOME.TRUST.EXPERIENCE_TEXT_1" | translate }}
        <strong>{{ "HOME.TRUST.EXPERIENCE_TEXT_2" | translate }}</strong>
        {{ "HOME.TRUST.EXPERIENCE_TEXT_3" | translate }}
      </p>
    </li>
  </ul>

  <app-call-to-action
    link="#contact-form"
    [title]="'HOME.TRUST.CTA_TITLE' | translate"
    [text]="'HOME.TRUST.CTA_TEXT' | translate"
  />
</section>
