.problem-item,
.solution-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ffffff99;
  padding: 1rem;

  p {
    color: #ffffff99;
    text-align: left;
    font-size: 14px;
  }
}

.icon {
  background-color: white_;
  border-radius: 50%;
  padding: 0.75rem;
  border: 1px solid #ffffff99;

  svg {
    width: 24px;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

b {
  font-weight: 600;
  color: white;
}

img{
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  max-width: 100%;
  border-radius: 12px;
}
