<div class="container">
  <div class="w-full">
    <a routerLink="/home" class="button-secondary mb-4"><span class="arrow-left">←</span> Zpět</a>
  </div>

  <h1>Podmínky ochrany osobních údajů</h1>

  <p>
    <strong>Podmínky ochrany osobních údajů, použitelné pro GDPR.</strong>
    Podmínky ochrany osobních údajů jsou důležitou součástí našeho webu. Naše
    společnost dbá na ochranu vašich osobních údajů a v souladu s platnou
    legislativou zajišťujeme jejich bezpečnost a správu.
  </p>

  <p>
    Podmínky ochrany osobních údajů včetně pokynů k jejich úprave najdete zde:
    <a href="https://domivka.cz" class="link">https://domivka.cz</a>
  </p>

  <p>
    Jsme společnost <strong>DOMIVKA s.r.o.</strong>, Jáchymovská 42/19, Bohatice
    360 04, Karlovy Vary 4
  </p>

  <p>
    Provozujeme e-shop na webových stránkách
    <a href="https://domivka.cz" class="link">www.domivka.cz</a>
  </p>

  <p>
    Pro poskytování našich služeb, prodej modulových domů a provoz našich
    webových stránek zpracováváme některé osobní údaje, které nám poskytujete
    při využívání našich služeb nebo při objednávkách.
  </p>

  <p>
    Zpracování osobních údajů upravuje zejména nařízení Evropského parlamentu a
    Rady (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v
    souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o
    zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů)
    („GDPR“).
  </p>

  <div class="section">
    <h2>I. Zpracování osobních údajů</h2>

    <div class="section">
      <h3>
        A. Zpracování osobních údajů v případě použití kontaktního formuláře
      </h3>
      <p>
        Pokud poptáváte naše produkty a služby, budeme pracovat s vašimi
        kontaktními údaji, které nám sdělíte, hlavně prostřednictvím
        poptávkového formuláře. Jsou to: Jméno, příjmení, adresu pro doručení,
        kontaktní údaje - telefonní číslo, email pro komunikaci.
      </p>
      <p>
        <strong>Z jakého důvodu?</strong> Kontaktujeme vás přes ně pro další
        domluvu ohledně zboží a služeb.
      </p>
      <p>
        <strong>Na základě jakého právního důvodu?</strong> Jedná se o
        zpracování na základě čl. 6 odst. 1 písm. b) GDPR – jednání o smlouvě,
        resp. provedení opatření před uzavřením smlouvy na vaši žádost.
      </p>
      <p>
        <strong>Jak dlouho budeme osobní údaje zpracovávat?</strong> Pokud
        nenavážeme další spolupráci, vaše data budeme zpracovávat nejdéle 14 dní
        od naší poslední komunikace.
      </p>
    </div>

    <div class="section">
      <h3>B. Zpracování osobních údajů v případě nákupu</h3>
      <p>
        Pokud u nás nakoupíte, budeme pracovat s údaji, které nám vyplníte. Jsou
        to hlavně fakturační údaje: jméno, příjmení, adresa, telefonní číslo,
        email.
      </p>
      <p>
        <strong>Z jakého důvodu?</strong> Osobní údaje potřebujeme zpracovat,
        abychom splnili naši smlouvu – dodali vám naše zboží nebo služby. Přes
        kontaktní údaje s vámi budeme také komunikovat ohledně stavu vaší
        objednávky, případně ohledně reklamací nebo vašich dotazů.
      </p>
      <p>
        <strong
          >Na základě jakého právního důvodu osobní údaje zpracováváme?</strong
        >
        Jedná se o zpracování na základě čl. 6 odst. 1 písm. b) GDPR – plnění
        smlouvy a čl. 6 odst. 1 písm. c) GDPR – plnění naší právní povinnosti.
      </p>
      <p>
        <strong>Jak dlouho budeme osobní údaje zpracovávat?</strong> Po dobu
        plnění naší služby a poté 14 dní od posledního poskytnutí takové služby
        nebo dodání zboží.
      </p>
    </div>

    <div class="section">
      <h3>C. Newslettery (obchodní sdělení)</h3>
      <p>
        Pokud jste nakupující zákazník a nezakázali jste nám to při nákupu,
        použijeme vaši e-mailovou adresu pro rozesílku našich novinek.
      </p>
      <p>
        <strong>Na základě jakého právního důvodu?</strong> Umožňuje nám to ust.
        § 7 odst. 3 zákona č. 480/2004 Sb., o některých službách informační
        společnosti, pokud jste nám to při nákupu nezakázali.
      </p>
      <p>
        <strong>Jak dlouho budeme osobní údaje zpracovávat?</strong> ……..rok/let
        od vašeho posledního nákupu. Z rozesílky se můžete kdykoliv odhlásit
        prostřednictvím e-mailu nebo nás kontaktujte na e-mailu:
        {{ "domivka@email.cz" }}
      </p>
    </div>
  </div>

  <div class="section">
    <h2>II. Kdo se k datům dostane?</h2>
    <p>
      Vaše data zůstanou u nás. Přesto pro nás pracují některé společnosti nebo
      jiné osoby, které se k datům dostanou proto, že nám pomáhají s chodem
      našeho e-shopu. Jsou to:
    </p>
    <ul>
      <li>
        provozovatel e-shopové platformy Shoptet (společnost Shoptet a.s., se
        sídlem Dvořeckého 628/8, Břevnov, 169 00, Praha 6, IČ 289 35 675,
        společnost je zapsaná u Městského soudu v Praze, oddíl B vložka 25 395)
      </li>
      <li>společnosti podílející se na expedici zboží (PPL, zásilkovna)</li>
      <li>společnosti podílející se na expedici plateb (………………)</li>
      <li>poskytovatel e-mailingové služby (……………..)</li>
      <li>marketingová agentura ((………………)</li>
    </ul>
    <p>
      Vaše osobní údaje se dále mohou dostat k těmto dalším subjektům: ………..
    </p>
    <p>Osobní údaje zpracováváme pouze na území Evropské unie.</p>
  </div>

  <div class="section">
    <h2>III. Co byste dál měli vědět</h2>
    <p>
      V naší společnosti máme jmenovaného pověřence pro ochranu osobních údajů.
    </p>
    <p>
      V naší společnosti nedochází k rozhodování na základě automatického
      zpracování či profilování.
    </p>
    <p>
      Pokud byste měli k osobním údajům otázky, kontaktujte nás na e-mailové
      adrese {{'domivka@email.cz'}} nebo zavolejte na tel. č. +420 608 099 059
    </p>
  </div>

  <div class="section">
    <h2>IV. Používání souborů cookies</h2>
    <p>
      Cookies jsou textové soubory obsahující malé množství informací, které se
      při návštěvě našich webových stránek stahují do Vašeho zařízení. Soubory
      cookies se následně při každé další návštěvě odesílají zpět na webovou
      stránku nebo jinou webovou stránku, která je rozpozná.
    </p>
    <p>
      Soubory cookies plní různé úlohy, například umožňují efektivní navigaci
      mezi webovými stránkami, zapamatování si Vašich preferencí a celkově
      zlepšují zkušenost uživatele. Dokážou také zajistit, aby reklamy
      zobrazované on-line byly lépe přizpůsobené Vaší osobě a Vaším zájmům.
    </p>
    <p>Na webových stránkách používáme následující cookies:</p>
    <ul>
      <li>
        Nezbytné cookies: jsou zapotřebí k provozu webových stránek, umožňují
        například přihlásit se do zabezpečených částí stránek a další základní
        funkčnosti stránek. Tato kategorie cookies se nedá zakázat.
      </li>
      <li>
        Analytické/statistické cookies: umožňují nám například rozpoznat a
        zjistit počet návštěvníků a sledovat, jak naši návštěvníci používají
        webové stránky. Pomáhají nám zlepšovat způsob, jakým stránky fungují,
        například tak, že umožňují uživatelům snadněji najít, co hledají.
      </li>
      <li>
        Marketingové cookies: slouží k zobrazení relevantních reklam pro
        uživatele, často na základě jejich chování na našich stránkách a jiných
        stránkách.
      </li>
    </ul>
  </div>

  <div class="footer">
    <p>&copy; 2025 SITTEC spol. s.r.o.</p>
  </div>
</div>
