<section class="container">
  <h2><span>Відгуки та кейси</span> клієнтів</h2>

  <div class="carouselContainer">
      <swiper-container
        class="swiperContainer"
        [effect]="swiperConfig.effect"
        [grabCursor]="swiperConfig.grabCursor"
        [centeredSlides]="swiperConfig.centeredSlides"
        [slidesPerView]="swiperConfig.slidesPerView"
        [loop]="swiperConfig.loop"
        [slideToClickedSlide]="swiperConfig.slideToClickedSlide"
        [coverflowEffect]="swiperConfig.coverflowEffect"
        [modules]="swiperConfig.modules"
        [spaceBetween]="swiperConfig.spaceBetween"
        [navigation]="true"
      >
        <swiper-slide
          *ngFor="let review of reviews; trackBy: trackById; let i = index"
          class="review-card box"
        >
          <div class="review-header">
            <img
              [src]="review.photo"
              alt="Reviewer's Photo"
              class="review-photo"
            />
            <h3 class="reviewer-name">{{ review.name }}</h3>
          </div>
          <p class="review-text">{{ review.text }}</p>
        </swiper-slide>
      </swiper-container>
  </div>

  <!-- CTA Box -->
  <div class="cta_box flex flex-col gap-1 my-10">
    <a class="button-primary" href="#contact-form">Запитати</a>
    <p class="text-white w-full text-center">власника такого будинку</p>
  </div>
</section>
