<div class="carouselContainer">
  <swiper-container
    class="swiperContainer"
    [effect]="swiperConfig.effect"
    [grabCursor]="swiperConfig.grabCursor"
    [centeredSlides]="swiperConfig.centeredSlides"
    [slidesPerView]="swiperConfig.slidesPerView"
    [loop]="swiperConfig.loop"
    [slideToClickedSlide]="swiperConfig.slideToClickedSlide"
    [coverflowEffect]="swiperConfig.coverflowEffect"
    [modules]="swiperConfig.modules"
    [navigation]="true"
    [pagination]="false"
  >
    <swiper-slide class="tranding-slide" *ngFor="let slide of slides">
      @if (!isVideo) {
      <img [src]="slide" alt="carousel image" />
      } @if (isVideo) {
      <video [src]="slide" controls="true" width="600">
        Ваш браузер не підтримує відтворення відео.
      </video>
      }
    </swiper-slide>
  </swiper-container>
</div>
