/* Основні стилі для контейнера */
.carouselContainer {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  background-color: unset;
}

/* Стилі для самого слайдера */
.swiperContainer {
  width: 100%;

  height: 400px; /* Можеш налаштувати висоту під свій дизайн */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: unset; /* Легкий фон */
  position: relative;
}

/* Стилі для слайдів */
.tranding-slide {
  width: 100%;
  max-width: 360px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Плавний перехід для слайдів */
}

.tranding-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

/* Стилі для кнопок навігації */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.3); /* Трохи напівпрозоре тло */
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease;
}
swiper-container::part(button-next),
swiper-container::part(button-prev) {
  color: #fefefe;
  background-color: rgba(37, 51, 29, 0.458);
  border-radius: 100%;
  padding: 10px;
  height: 20px;
  width: 20px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Зміна тла на ховері */
}

/* Стилі для пагінації */
// .swiper-pagination-bullet {
//   background-color: rgba(0, 0, 0, 0.5);
//   transition: background-color 0.3s ease;
// }

// .swiper-pagination-bullet-active {
//   background-color: #f8a828; /* Колір активного булета */
// }

// /* Покращення coverflow ефекту */
// .swiper-slide-shadow-left,
// .swiper-slide-shadow-right {
//   background: rgba(0, 0, 0, 0.5); /* Легкі тіні на бічних слайдах */
// }

/* Оптимізація для мобільних пристроїв */
@media (max-width: 768px) {
  .swiperContainer {
    max-width: 100%;
    // height: 300px; /* Зменшена висота на мобільних */
  }
}
