<div class="carouselContainer">
  <swiper-container
    class="swiperContainer"
    [effect]="swiperConfig.effect"
    [grabCursor]="swiperConfig.grabCursor"
    [centeredSlides]="swiperConfig.centeredSlides"
    [slidesPerView]="swiperConfig.slidesPerView"
    [loop]="swiperConfig.loop"
    [slideToClickedSlide]="swiperConfig.slideToClickedSlide"
    [coverflowEffect]="swiperConfig.coverflowEffect"
    [modules]="swiperConfig.modules"
    [navigation]="true"
    [pagination]="false"
  >
    <swiper-slide
      class="tranding-slide"
      *ngFor="let slide of slides"
    >
      <img [src]="slide" alt="carousel image"/>
    </swiper-slide>
  </swiper-container>
</div>
