<!-- Hero Section -->
<!-- <div class="hero-section container py-6 flex flex-col items-center justify-center"> -->
  <app-hero-section></app-hero-section>
<!-- </div> -->

<!-- Problem Solution -->
<div class="problem-solution container py-6 flex flex-col items-center justify-center">
  <app-problem-solution></app-problem-solution>
</div>

<!-- How It Works -->
<div class="how-it-works container py-6 flex flex-col items-center justify-center">
  <app-how-it-works></app-how-it-works>
</div>

<!-- Profit Calculator -->
<div class="profit-calculator container py-6 flex flex-col items-center justify-center">
  <app-profit-calculator></app-profit-calculator>
</div>

<!-- Gallery -->
<div class="gallery container py-6 flex flex-col items-center justify-center">
  <app-gallery></app-gallery>
</div>

<!-- reviews -->
<div class="testimonials container py-6 flex flex-col items-center justify-center">
  <!-- <app-testimonials></app-testimonials> -->
  <app-reviews></app-reviews>
</div>

<!-- Trust Section -->
<div class="trust-section container py-6 flex flex-col items-center justify-center">
  <app-trust-section></app-trust-section>
</div>

<!-- FAQ -->
<div class="faq container py-6 flex flex-col items-center justify-center">
  <app-faq></app-faq>
</div>

<!-- Final Call to Action -->
<div class="final-cta container py-6 flex flex-col items-center justify-center">
  <app-final-cta></app-final-cta>
</div>


<!-- Contact Form
<div id="contact-form" class="flex justify-center items-center">
  <app-contact-form></app-contact-form>
</div> -->


