<!-- <app-modal title="Akce">
  <app-one-time-offer />
</app-modal> -->

<!-- Hero Section -->
<div id="start" style="min-height: 100vh; margin-bottom: 10px">
  <app-hero-section></app-hero-section>
</div>

<!-- How It Works -->
<div
  id="how-works"
  class="how-it-works container my-0 flex flex-col items-center justify-center"
>
  <app-how-it-works></app-how-it-works>
</div>

<!-- Models -->
<div
  id="models"
  class="models container flex flex-col items-center justify-center my-0"
>
  <app-models />
</div>

<!-- Profit Calculator -->
<div
  id="calculator"
  class="profit-calculator container flex flex-col items-center justify-center"
>
  <app-profit-calculator></app-profit-calculator>
</div>

<!-- Gallery -->
<div
  id="gallery"
  class="gallery container py-6 flex flex-col items-center justify-center my-0"
>
  <app-gallery></app-gallery>
</div>



<!-- reviews -->
<div
  id="reviews"
  class="testimonials container py-6 flex flex-col items-center justify-center my-0"
>
  <app-reviews></app-reviews>
</div>

<!-- Trust Section -->
<div
  id="why-trust"
  class="trust-section container flex flex-col items-center justify-center my-0"
>
  <app-trust-section></app-trust-section>
</div>

<!-- Problem Solution -->
<div
  id="we-better"
  class="problem-solution container flex flex-col items-center justify-center my-0"
>
  <app-problem-solution></app-problem-solution>
</div>

<!-- FAQ -->
<div
  id="faq"
  class="faq container flex flex-col items-center justify-center my-0"
>
  <app-faq></app-faq>
</div>

<!-- Final Call to Action -->
<div
  id="contact-form"
  class="final-cta container pb-2 my-0 flex flex-col items-center justify-center"
>
  <app-final-cta></app-final-cta>
</div>

<div
  id="contact-form"
  class="container pb-2 my-0 flex flex-col items-center justify-center"
>
  <app-blog-suggestions />
</div>
