<app-modal title="Akce" >
  <app-one-time-offer/>
</app-modal>

<!-- Hero Section -->
<div  id="start">
  <app-hero-section></app-hero-section>
</div>

<!-- Problem Solution -->
<div  id="we-better" class="problem-solution container py-6 flex flex-col items-center justify-center">
  <app-problem-solution></app-problem-solution>
</div>

<!-- How It Works -->
<div  id="how-works" class="how-it-works container py-6 flex flex-col items-center justify-center">
  <app-how-it-works></app-how-it-works>
</div>

<!-- Profit Calculator -->
<div  id="calculator" class="profit-calculator container py-6 flex flex-col items-center justify-center">
  <app-profit-calculator></app-profit-calculator>
</div>

<!-- Gallery -->
<div  id="gallery" class="gallery container py-6 flex flex-col items-center justify-center">
  <app-gallery></app-gallery>
</div>

<!-- reviews -->
<div  id="reviews" class="testimonials container py-6 flex flex-col items-center justify-center">
  <app-reviews></app-reviews>
</div>

<!-- Trust Section -->
<div  id="why-trust" class="trust-section container py-6 flex flex-col items-center justify-center">
  <app-trust-section></app-trust-section>
</div>

<!-- FAQ -->
<div id="faq"  class="faq container py-6 flex flex-col items-center justify-center">
  <app-faq></app-faq>
</div>

<!-- Final Call to Action -->
<div  id="contact-form" class="final-cta container py-6 flex flex-col items-center justify-center">
  <app-final-cta></app-final-cta>
</div>




