<footer class="py-10 md:py-16 dark">

  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">

      <!-- Про нас -->
      <div>
          <h3 class="text-xl font-semibold mb-4">Про нас</h3>
          <p class="text-sm">Наша компанія спеціалізується на продажу та встановленні модульних будинків. Ми пропонуємо швидке, доступне та ефективне рішення для створення власного житла або оренди.</p>
      </div>

      <!-- Контакти -->
      <div>
          <h3 class="text-xl font-semibold mb-4">Контакти</h3>
          <ul class="space-y-2">
              <li><strong>Телефон:</strong> +420 123 456 789</li>
              <li><strong>Email:</strong> <a href="mailto:info@modularhouse.cz" class="hover:text-blue-300">{{EMAIL}}</a></li>
              <li><strong>Адреса:</strong> Прага, Чехія</li>
          </ul>
      </div>

      <!-- Лінки -->
      <div>
          <h3 class="text-xl font-semibold mb-4">Лінки</h3>
          <ul class="space-y-2">
              <li><a href="#" class="hover:text-blue-300">Про нас</a></li>
              <li><a href="#" class="hover:text-blue-300">Часті запитання</a></li>
              <li><a href="#" class="hover:text-blue-300">Умови використання</a></li>
              <li><a href="#" class="hover:text-blue-300">Політика конфіденційності</a></li>
              <li><a href="#" class="hover:text-blue-300">Калькулятор прибутковості</a></li>
          </ul>
      </div>



      <!-- Підписка -->
      <div>
          <h3 class="text-xl font-semibold mb-4">Підписка на новини</h3>
          <form action="#">
              <label for="email" class="text-sm">Оформіть підписку на наші оновлення та спеціальні пропозиції.</label>
              <input type="email" id="email" placeholder="Введіть вашу пошту" class="w-full p-2 mt-2 text-black rounded-md" required>
              <button type="submit" class="mt-4 w-full button-secondary text-white">Підписатися</button>
          </form>
      </div>
  </div>

  <!-- Соціальні мережі -->
  <div class="mt-8 text-center">
      <h3 class="text-xl font-semibold mb-4">Соціальні мережі</h3>
      <div class="flex justify-center flex-col items-center gap-2">
          <a href="#" class="text-2xl hover:text-white transition duration-300">Facebook</a>
          <a href="#" class="text-2xl hover:text-white transition duration-300">Instagram</a>
          <a href="#" class="text-2xl hover:text-white transition duration-300">YouTube</a>
          <a href="#" class="text-2xl hover:text-white transition duration-300">LinkedIn</a>
      </div>
  </div>

  <!-- Підпис на авторські права -->
  <div class="mt-8 border-t border-gray-700 pt-4 text-center">
      <p class="text-sm">&copy; 2025 Modular House. Всі права захищені.</p>
  </div>
</footer>
