footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 0;
  padding-bottom: 80px;
  font-size: 14px;

  .organizer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  h3{
    font-size: 24px;
    color: var(--accent-color);
  }

  svg {
    width: 40px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: left;

    .footer-section {
      h4 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #0056b3;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 8px;
        }

        a {
          color: #ddd;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: #0056b3;
          }
        }
      }

      .social-icons {
        display: flex;
        gap: 10px;

        a {
          color: #0056b3;
          font-size: 20px;
          transition: transform 0.3s, color 0.3s;

          &:hover {
            transform: scale(1.1);
            color: #fff;
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;

    a {
      color: #0056b3;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }
}
