<section class="container content_ dark gap-4">
  <h2>
    Галерея <br />
    <span>Фото та відео</span>
  </h2>

  <div class="flex flex-col gap-3">
    <div class="two-cols">
      <figure class="p-2 flex-center flex-col">
        <figcaption>
          <b>Інтер'єр</b>

          <app-swiper [slides]="slides" />
        </figcaption>
      </figure>
    </div>

    <div class="two-cols">
      <figure class="p-2 flex-center flex-col">
        <figcaption>
          <b>Відеоогляд будинку</b>
        </figcaption>

        <video
          class="background-video loaded"
          [muted]="true"
          playsinline
          webkit-playsinline
          disableRemotePlayback
          controls
          alt="Відеоогляд будинку"
          class="w-full "
        >
          <source src="./assets/videos/video_creative.mp4" type="video/mp4" />
        </video>
      </figure>
    </div>

    <!-- <div class="two-cols">
      <figure class="p-2 flex-center flex-col">
        <figcaption>
          <b>360° огляд</b>
        </figcaption>

        <img src="./assets/img/tour/360-view.jpg" alt="360 огляд" />
      </figure>
    </div> -->
  </div>

  <app-call-to-action
    link="#contact-form"
    title="Записатися"
    text="на онлайн-презентацію"
  />
</section>
